project:
  type: website

website:
  title: "AI Interpretability"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: syllabus.qmd
        text: Syllabus
      - href: project-guidelines.qmd
        text: Project

format:
  html:
    theme: cosmo
    css: styles.css
