project:
  type: website
  output-dir: docs

website:
  title: "AI Interpretability & AI Risk"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: syllabus.qmd
        text: Syllabus

format:
  html:
    theme: cosmo
    css: styles.css
